nav{
    border: solid black 1px;
    padding: 15px;
    background-color: gray;
}
a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 15px;
    border: solid blueviolet 1px;
    background-color: #825aa7;
}
span{
    padding: 25px;
    margin: 5px;
    border: solid black 2px;
}
#white{
    background-color: #fff;
}
#grey{
    background-color: grey;
}
#yellow{
    background-color: yellow;
}
#blue{
    background-color: blue;
}